.App_Body{
  background:radial-gradient(circle, rgba(199, 189, 196, 0.855) 5%, transparent 90%) rgb(46, 12, 5);
}

.App {
  text-align: center;
  font-family: fantasy;
  color:bisque;
  padding-top: 1.5em;
}
h1{
  font-size: 4em;
}
p{
  font-size: 1.5em;
}

img{
  height: 40%;
  width: 40;
}