.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom:  0;
  background-color: rgba(34, 27, 27, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;

}

.modal-content {
  width: 500px;
  background-color: aliceblue;
  border-radius: 12px;
}

.modal-footer {
  padding: 10px;
  background-color: brown;
}

.modal-body {
  padding: 10px;
  border-top: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
 
}
img{
  height: 40%;
  width: 50%;

}